<div class="subpage-header">
</div>

<div class="container">
  <div class="row">
    <div id="course-show">
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Course name:</strong>
        <%= @course.course_name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @course.description %>
      </p>

      <br><% if current_user %>
      <% @course.questions.each do |question| %>
      <br><audio controls>
        <source src="<%= question.question %>" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        <%= question.answer %>
        <%= link_to 'Edit', edit_course_question_path(@course, question) %>
        <% end %>
        <% end %>

        <% if @course.course_name == "Spanish" %>
        <div class='col-md-6'>
            <%#= render 'form' %>
          <p><div class = "course-info"><strong>Spanish</strong>
            <br>This lesson will focus on improving your pronunciation skills and teaching you how to order food at a restaurant in English.
            <br>You will listen to a conversation between a waiter and Alexa. Once Alexa has finished, please repeat her exact phrase. She will then repeat your phrase back to you and tell you whether or not you pronounced it correctly.
          <br><strong>To start the program say:</strong> Alexa Xlearn
          <br><strong>Choose the language of instruction:</strong> Spanish
          <br><strong>To exit the program say:</strong> Stop

            <br><strong>Waiter:</strong> Hello sir. Welcome to our restaurant. Have you eaten here before?

            <br><strong>Alexa:</strong> No. This is my first time here.

            <br><strong>Waiter:</strong> Oh. Well, would you like to hear about today’s special?

            <br><strong>Alexa:</strong> Sure, why not?

            <br><strong>Waiter:</strong> Ok. We have a 10 oz. stake with some mashed potatoes and a salad as your side.

            <br><strong>Alexa:</strong> Sounds good I would like some steak

            <br><strong>Waiter:</strong> Good choice. How would you like your steak?

            <br><strong>Alexa:</strong> Medium rare.

            <br><strong>Waiter:</strong> Ok. What would you like to drink?

            <br><strong>Alexa:</strong> Just some water please.

            <br><strong>Waiter:</strong> How was your food?

            <br><strong>Alexa:</strong> Great.

            <br><strong>Waiter:</strong> Do you have any room for dessert?

            <br><strong>Alexa:</strong> No, just bring the check please.</p>
          </div>
            </div>

            <div class='col-md-6'>
                <%#= render 'form' %>
              <p><div class = "course-info"><strong>Spanish</strong>
                <br>This lesson will focus on improving your pronunciation skills and teaching you how to order food at a restaurant in English.
                <br>You will listen to a conversation between a waiter and Alexa. Once Alexa has finished, please repeat her exact phrase. She will then repeat your phrase back to you and tell you whether or not you pronounced it correctly.
              <br><strong>To start the program say:</strong> Alexa Xlearn
              <br><strong>Choose the language of instruction:</strong> Spanish
              <br><strong>To exit the program say:</strong> Stop

                <br><strong>Waiter:</strong> Hello sir. Welcome to our restaurant. Have you eaten here before?

                <br><strong>Alexa:</strong> No. This is my first time here.

                <br><strong>Waiter:</strong> Oh. Well, would you like to hear about today’s special?

                <br><strong>Alexa:</strong> Sure, why not?

                <br><strong>Waiter:</strong> Ok. We have a 10 oz. stake with some mashed potatoes and a salad as your side.

                <br><strong>Alexa:</strong> Sounds good I would like some steak

                <br><strong>Waiter:</strong> Good choice. How would you like your steak?

                <br><strong>Alexa:</strong> Medium rare.

                <br><strong>Waiter:</strong> Ok. What would you like to drink?

                <br><strong>Alexa:</strong> Just some water please.

                <br><strong>Waiter:</strong> How was your food?

                <br><strong>Alexa:</strong> Great.

                <br><strong>Waiter:</strong> Do you have any room for dessert?

                <br><strong>Alexa:</strong> No, just bring the check please.</p>
              </div>
                </div>
              </div>
                <% end %>
                <br><% if current_user %>
                <%= link_to 'Edit', edit_course_path(@course) %> |
                <%= link_to 'Back', courses_path %>

                <% end %>

            </div>
          </div>
